.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-field {
    padding: 15px;
    width: 85%;
    border-radius: 20px;
    background-color: #254874;
    border: 0px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.input-field:focus {
    outline: none;
    border: 0px;
}
