/* Для контейнера */
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

app-topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.main-content {
    display: flex;
    margin-top: 60px;
    margin-left: 270px;
    height: calc(100vh - 60px);
}

app-sidebar {
    position: fixed;
    left: 0;
    width: 270px;
    height: calc(100vh - 60px);
    color: white;
}

.outlet {
    width: 100%;
}

