# Global ignores for all environments
node_modules/
dist/
.DS_Store
Thumbs.db

# Angular-specific ignores
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/.env
Frontend/.env.*

# ASP.NET Core-specific ignores
# Ignore AssemblyInfo and NuGet cache files
backend/**/AssemblyInfo.cs
backend/**/*.csproj.nuget.dgspec.json
backend/**/*.csproj.nuget.g.props
backend/**/*.csproj.nuget.g.targets
backend/**/project.nuget.cache
backend/**/obj/
backend/**/bin/

Backend/bin/
Backend/obj/
Backend/*.db
Backend/*.log
Backend/appsettings.Development.json
Backend/appsettings.Local.json
Backend/appsettings.*.json.user

# Visual Studio-specific ignores
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
**/.vs/
**/.vscode/
.vs/
*.csproj.user

# JetBrains Rider-specific ignores
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/shelf/
.idea/**/vcs.xml
.idea/**/jsLibraryMappings.xml

# JetBrains WebStorm-specific ignores
.idea/
*.iml
.idea/modules.xml
.idea/workspace.xml
.idea/misc.xml
.idea/dictionaries/
.idea/shelf/

# System-specific files
.DS_Store
Thumbs.db

# Other temporary files
**/logs/
**/temp/
*.log
*.tmp
