.container {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
}

.name {
    margin-bottom: 10px;
}

.container:hover {
    background-color: #274674;
    cursor: pointer;
}