html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #6393c9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #01467c;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #172c69;
}