<div class="container">
    <form>
        <div class="form-group">
            <label for="Status">Status</label>
            <select id="Status" name="Status">
                <option value="Student">Student</option>
                <option value="Graduate">Graduate</option>
                <option value="Professional">Professional</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Field of study">Field of study</label>
            <select id="Field of study" name="Field of study">
                <option value="Computer Science">Computer Science</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Physics">Physics</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Specialization">Specialization</label>
            <select id="Specialization" name="Specialization">
                <option value="Software Engineering">Software Engineering</option>
                <option value="Data Science">Data Science</option>
                <option value="Artificial Intelligence">Artificial Intelligence</option>
            </select>
        </div>
        <div class="form-group">
            <label for="University">University</label>
            <select id="University" name="University">
                <option value="NULP">NULP</option>
                <option value="elenu">elenu</option>
                <option value="Hogwarts">Hogwarts</option>
            </select>
        </div>
        <div class="block">
            <div class="Another-group degree-group">
                <label for="Degree">Degree</label>
                <select class="degree-select" id="Degree" name="Degree">
                    <option value="Bachelor">Bachelor</option>
                    <option value="Master">Master</option>
                    <option value="PhD">PhD</option>
                </select>
            </div>
            <div class="Another-group term-group">
                <label for="Term">Term</label>
                <select class="term-select" id="Term" name="Term">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="button-group">
            <button (click)="onNextPressed()">Back</button>
            <button type="submit">Next</button>
        </div>
    </form>
</div>