.head{
    color: #ffffff;
    font-size: 35px;
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    font-weight: bold;
}

form {
    margin-top: 90px;
    width: 300px;
    height: 400px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-family: 'Segoe UI';
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #6393c9;
    border-radius: 5px;
    background-color: #002552; /* Change input background color */
    color: #ffffff; /* Change input text color to white */
    margin-bottom: 10px;
    font-family: 'Segoe UI';
    font-size: 15px;
}

.form-group input:focus {
    border: 2px solid white;
    outline: none;
}

.SignUp {
    font-family: 'Segoe UI';
    text-align: center;
    text-decoration: underline;
    color: #6393c9;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 10px;
}

.login-button {
    font-family: 'Segoe UI';
    width: 100%;
    padding: 10px;
    background-color: #6393c9;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    
}

.login-button:hover {
    background-color: #274674;
}