<div class="container">
    <div class="head">
        <span>Log In</span>
    </div>
    <form>
        <div class="form-group">
            <label for="username">Email or username</label>
            <input type="text" id="username" name="username" [(ngModel)]="login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password">
        </div>
        <p class="SignUp">Don't have an account? Sign up.</p>
        <button (click)="onSubmit()" class="login-button">Log In</button>
    </form>
</div>